<body>
  <header>
    <h1>Play<span>Care</span></h1>
    <button id="logout" class="btn-no-style">Logout</button>
  </header>

  <main>
    <label>Names:</label>
    <input type="text" id="input-names">
    <button id="add-first-btn">Add Names</button>


    <br><br><br>
    <div>
      <input placeholder="search by first name" id="search-input">
      <button id="search-btn">Search</button>
    </div>

    <table id="table">
      <thead>
        <th>ID</th>
        <th>Names</th>
        <th>Date of admission</th>
        <th>Delete</th>
        <th>Edit</th>
      </thead>
      <tbody>
        {{#each schedules as |schedule|}}
        <tr>
          <td>
            {{schedule.child.id}}
          </td>
          <td>
            {{schedule.child.first_name}} {{schedule.child.last_name}}
          </td>
          <td>
            {{schedule.child.admission_date}}
          </td>
          <td>
            <button data-childId = "{{schedule.child_id}}" id="delete-row-btn">Delete</button>
          </td>
          <td>
            <button data-childid = "{{schedule.child_id}}">Edit</button>
          </td>
        </tr>
       {{/each}} 
      </tbody>
    </table>
    <script src="./js/logout.js"></script>
    <script src="./js/script.js"></script>
  </main>